


.card{
    display:flex;
    flex-direction: column;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);

}


.card .mcard-action{
    padding: 10px;
    grid-template-rows: auto ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.card .mcard-action .good{
    width: 50px;
    height: 20px;
    border: 4px dotted white;
}


.card .mcard-action .good .green{
    background-color: green;
}

.card .mcard-action .good .grey{
    background-color: grey;
}

.card .mcard-action .good .red{
    background-color: red;
}

.card .mcard-content{
    padding: 50px;
    width: 100%;
    display: flex;
    border-bottom: 1px dotted black;
  
}


.card .mcard-content .mcard-title{
    font-size: 20px;
}

.card .card-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:1rem;
}

.card .card-image img{
    width: 45%;
   
}

.card .card-image .del{
    position: absolute;
    right: 10px;
    bottom: 10px;
   
}

hr {
    border: 0;
    height: 1px;
    background: #000;
    background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
    background-image: -moz-linear-gradient(left, #fff, #000, #fff);
    background-image: -ms-linear-gradient(left, #fff, #000, #fff);
    background-image: -o-linear-gradient(left, #fff, #000, #fff);
}


.data::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  content: "📅";
  color: blue;
}





.myform{
    background-color: #fff;
}

.curcle{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 100px;
}

/* //----------------------------------- */

.modal-wind{
    margin: 0 auto;
    width: 50%;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background:#b2fef7;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -250px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    visibility: visible;
    transform: rotate3d(1, 0, 0, 0deg);
    opacity: 1;
    transition: transform 1.3s , opacity 0.4s , top .5s ;
    z-index: 999;
    padding: 20px;
}



.modal-wind p{
    padding: 5px;
}

.header-cont{
    width: 100%;
    background: #A7FFEB;
    height: 40px;
    text-transform: uppercase;
    text-align: center;
}

.header-cont h1{
    margin: 0;
    font-size: 20px;
    padding: 7px;
}


.cancel{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
}

#link{
    cursor: pointer;
    color:blue;
}

.inp{
    width: 80%;
    margin: 5px;
}

.overlay{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
}


.download-form,.modal-wind .modal-data ,.modal-wind .work ,.modal-wind .text,.modal-wind .deal ,.modal-wind .good, .modal-wind .data,.modal-wind .work2, .modal-wind .list{

    display: inline-block;
    border:none;
}

body .modal-wind .modal-data{
    width: 26%;
    border:none;
    color:#000;
}

.modal-action{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
}

 .good{
    background:#b2fef7;
    border: none;
    border-bottom: 1px dotted #000;
    padding-bottom: 1px;
}

/* .modal-trigger{
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: red;
} */


/* ------------------------ */



.range-field{
    border-bottom: 1px dotted #000;
}
